<div class="homepage-container">
  <div class="card-container anime-card-container">
    <mat-card class="card anime-card">
      <div class="card-content">
        <h1>Anime Section</h1>
        <p>Track your favorite anime here!</p>
        <button mat-raised-button color="primary" routerLink="/anime">
          Go to Anime
        </button>
      </div>
    </mat-card>
  </div>

  <div class="card-container manga-card-container">
    <mat-card class="card manga-card">
      <div class="card-content">
        <h1>Manga Section</h1>
        <p>Track your favorite manga here!</p>
        <button mat-raised-button color="accent" routerLink="/manga">
          Go to Manga
        </button>
      </div>
    </mat-card>
  </div>
</div>
